</div>
<div class="footer">
  <footer id="social_icons">
    <i class="fa-brands social-logo fa-twitter"></i>
    <i class="fa-brands social-logo fa-facebook"></i>
    <i class="fa-brands social-logo fa-linkedin"></i>
    <i class="fa-brands social-logo fa-instagram-square"></i>
    <p>© Copyright.INC </p>
  </footer>
</div>

</div>
</body>
</html>
