<%- include("partials/header") -%>


    <div style="margin-top: 50px;">
      <h2><%= title %></h2>
    </div>
    <div >
      <h5> <%= body %> </h5>
    </div>


<%- include("partials/footer") -%>
