<%- include("partials/header") -%>


    <div class="funding">
      <h1>Digital Marketing Stratetgies</h1>
      <h2> <i><%= key_7 %></i> </h2>
       <br>

    <p class="para">Startups often raise funds by turning to family and friends or by using venture capitalists.</p>
    <p class="para">This is a group of professional investors that specialize in funding startups.</p>
    <p class="para">Crowdfunding has become a viable way for many people to get access to the cash they need to move forward in the business process.</p>
    <p class="para">The entrepreneur sets up a crowdfunding page online, allowing people who believe in the company to donate money.</p>
    <p class="para">Startups may use credit to commence their operations.</p>
    <p class="para">A perfect credit history may allow the startup to use a line of credit as funding.</p>
    <p class="para">This option carries the most risk, particularly if the startup is unsuccessful.</p>
    <p class="para">Other companies choose small business loans to help fuel growth. Banks typically have several specialized options available for small businesses—a microloan is a short-term, low-interest product tailored for startups.</p>
    <p class="para">
    A detailed business plan is often required in order to qualify.
        </p>
    </div>


<%- include("partials/footer") -%>
