.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    /* position: fixed;
    top: 0; */
    background-color: #00D7FF;
    /* z-index: 1; */
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    bacolor: #1abc9c !important;
}

.img-start_up{
  margin-right: 0;
  width: 100%;
}

#home_page{
 /* background :linear-gradient(#8FBDD3, pink); */
 background :linear-gradient(#00D7FF,#fff);


 padding-left: 0;
 padding-right: 0;
}

.search{
  padding-top: 7%;
}


.footer-padding {
	padding-top: 100px;
}

.footer {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(#fff,#00D7FF);

}

.footer p {
	/* margin-top: 25px; */
  margin: 10px;
	font-size: 12px;
  color: #fff;
}

.footer{
  text-align: center;
  margin-bottom:0;
}

#guide_cards{
 padding: 100px;
}

.guide_head{
 text-align: center;
 padding-bottom: 20px;
}

.card-body{
 text-align: center;
 background: linear-gradient(purple,pink);
 color: #fff;
}


.card-header{
  text-align: center;
  background:#FFC23C;
}

.card{

  margin-block-start: 1em;
    margin-block-end: 0em;
    padding-right: 3em;
}

#social_icons{
  padding: 5px;
}

.card-img-top{
  width: 20rem;
  padding-right: 3em;
}

.investors{
  background: linear-gradient(purple, lightblue);
  margin-block-start: 1em;
    margin-block-end: 1em;
}

.te{
  color: #fff;
}

.funding{
  background: linear-gradient(#5BB318,#FCF8E8);
  text-align: center;
  font-family: cursive;
}

.chart1{
  background: linear-gradient(#00D7FF,#fff);
  padding: 15px;


}

.chart1_para{
  color: #000;
  text-align: center;
  font-size: 1.5em;
}

.About_us{
  background: linear-gradient(#5BB318,#FCF8E8);
  text-align: center;
  font-family: cursive;
}

.Contact_us{
  background: linear-gradient(#5BB318,#FCF8E8);
  text-align: center;
  font-family: cursive;
}

#What_is_startup {
  padding-bottom: 50px;
}

#types_of_startups{
  padding-bottom: 50px;
}
#Examples{
  padding-bottom: 50px;
}
#FAQS{
  padding-bottom: 50px;
}
#Intro{
  padding-bottom: 50px;
}
#success_rate{
  padding-bottom: 50px;
}
#guide{
  padding-bottom: 50px;
}
#India_hub{
  padding-bottom: 50px;
}
/*
.chat_icon{
  position: fixed;
  right: 30px;
  bottom: 0;
  font-size: 80px;
  cursor: pointer;
  z-index: 1000;
}

.chat_box{
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 400px;
  height: 75vh;
  background: #dedede;
  z-index: 1000;
  transition: all 0.3s ease-out;
  transform: scaleY(0);
} */

.para{
  font-size: 1.5em;
}
